html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  @extend %montserrat-400;
  font-size: 14px;
  line-height: 21px;
  color: $default;
  background-color: $default-2;
}

.lock {
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.main {
  &__top {
    margin-top: 160px;
    margin-bottom: 100px;
  }
  &__services {
  }
  &__portfolio {
  }
  &__contacts {
  }
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  @extend %montserrat-700;
  font-size: 36px;
  line-height: 43px;
  color: $default;
}
@media (max-width: 576px) {
  .title {
    font-size: 24px;
    line-height: 29px;
  }
}
