html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  position: relative;
  @extend %montserrat-400;
  font-size: 14px;
  line-height: 21px;
  color: $default;
  background-color: $default-2;
  overflow-x: hidden;
}

.lock {
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.main {
  &__top {
    margin-top: 160px;
    margin-bottom: 100px;
  }
  &__about {
    margin-top: 220px;
    margin-bottom: 50px;
  }
  &__portfolio-main {
    margin-top: 170px;
    margin-bottom: 100px;
  }
  &__portfolio-one {
    margin-top: 120px;
    margin-bottom: 100px;
  }
  &__services-main {
    margin-top: 70px;
  }
  &__services-one {
    margin-top: 120px;
  }
  &__blog {
    margin-top: 170px;
    margin-bottom: 100px;
  }
  &__blog-one {
    margin-top: 120px;
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .main__about {
    margin-top: 150px;
    margin-bottom: 25px;
  }
  .main__portfolio-main {
    margin-top: 130px;
  }
  
  .main__services-main {
    margin-top: 20px;
  }
  .main__blog {
    margin-top: 150px;
    margin-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .main__about {
    margin-top: 120px;
  }
  .main__portfolio-main {
    margin-top: 120px;
    margin-bottom: 60px;
  }
  .main__services-main {
    margin-top: 80px;
  }
  .main__portfolio-one {
    margin-top: 80px;
  }
  .main__services-one {
    margin-top: 80px;
  }
  .main__blog {
    margin-top: 120px;
  }
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  @extend %montserrat-700;
  font-size: 36px;
  line-height: 43px;
  color: $default;
}
@media (max-width: 576px) {
  .title {
    font-size: 24px;
    line-height: 29px;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
