.features {
  background-color: $gray-2;
  &__inner {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
}
.features-item {
  padding: 32px;
  width: 100%;
  max-width: 416px;
  background: #fff;
  border-radius: 16px;
  &__wrapper {
    display: flex;
  }
  &__icon {
    margin-right: 20px;
    width: 48px;
    height: 48px;
  }
  &__content {
    width: 100%;
    max-width: 280px;
  }
  &__title {
    margin-bottom: 12px;
    @extend %montserrat-600;
    font-size: 20px;
    line-height: 24px;
    color: $default;
  }
  &__descr {
    @extend %montserrat-500;
    font-size: 14px;
    line-height: 21px;
    color: $gray;
  }
}

@media (max-width: 1000px) {
  .features__items {
    gap: 15px;
  }
  .features-item {
    padding: 25px;
    max-width: 380px;
  }
}

@media (max-width: 576px) {

  .features__inner {
    padding: 40px 0;
  }
  .features__title {
    margin-bottom: 24px;
  }
  .features-item {
    padding: 20px;
  }
  .features-item__title {
    font-size: 16px;
    line-height: 19px;
  }
}
