.footer {
  padding-top: 80px;
  background-color: #1f1f1f;
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 18px;
  }
  &__menu-title {
    margin-bottom: 24px;
    @extend %montserrat-600;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }
  &__menu-link {
    display: inline-block;
    margin-bottom: 8px;
    @extend %montserrat-400;
    font-size: 14px;
    line-height: 21px;
    color: #dbdbdb;
  }
  &__menu-link:hover {
    text-decoration: underline;
  }
  &__menu-box {
    margin-top: 46px;
  }
  &__menu-address {
    color: #dbdbdb;
  }
}

.footer-info {
  width: 100%;
  max-width: 310px;
  &__descr {
    margin-bottom: 55px;
    @extend %montserrat-400;
    font-size: 14px;
    line-height: 21px;
    color: #dbdbdb;
  }
}

.footer-copy {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #504f4f;
}
.designer {
  display: flex;
  @extend %montserrat-400;
  font-size: 12px;
  line-height: 18px;
  color: #acacac;
  &__link {
    padding: 0 5px;
    display: flex;
    align-items: center;
    @extend %montserrat-600;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #f3f2f6;
  }
  &__icon {
    padding-left: 3px;
  }
}

@media (max-width: 950px) {
  .footer-info {
    max-width: none;
  }
}

@media (max-width: 576px) {
  .footer {
    padding-top: 40px;
  }

  .footer-info__descr {
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 18px;
  }

  .footer__menu-title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
  }
}
