.header {
  padding: 32px 0;
  &__inner {
    display: flex;
    align-items: center;
  }
  &__logo {
    padding-right: 30px;
    margin-right: auto;
  }
  &__language {
    margin-left: 90px;
  }
  &__links {
    margin-left: 16px;
  }
}
.menu {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    align-items: center;
    gap: 10px 40px;
  }
  &__list-link {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 8px;
    @extend %montserrat-400;
    font-size: 16px;
    line-height: 24px;
    color: $default;
    transition: all 0.2s;
  }
  &__list-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #8a74ff;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.2s;
  }
  &__list-link:hover.menu__list-link:after {
    opacity: 1;
  }
  &__list-link--active {
    @extend %montserrat-600;
    opacity: 1;
  }
  &__list-link--active.menu__list-link:after {
    @extend %montserrat-600;
    opacity: 1;
  }
}

.language-box {
  .dropdown {
    position: relative;
    width: 45px;
  }
  .select {
    color: #504f4f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  .menu {
    display: none;
    width: 65px;
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 0;
    opacity: 0;
    transition: all 0.2s;
    background-color: #fff;
    text-align: center;
    border-radius: 12px;
    filter: drop-shadow(-1px 13px 18px rgba(186, 186, 186, 0.25));
  }

  .menu li {
    display: block;
    padding-top: 16px;
    padding-bottom: 12px;
    transition: all 0.2s;
    border-bottom: 1px solid #e9e9e9;
    text-transform: uppercase;
  }
  .menu li:first-child {
    border-radius: 12px 12px 0 0;
  }
  .menu li:last-child {
    border-radius: 0px 0px 12px 12px;
    border-bottom: none;
  }
  .caret {
    width: 14px;
    height: 14px;
  }
  .menu li,
  .selected {
    @extend %montserrat-600;
    font-size: 16px;
    line-height: 24px;
    color: #504f4f;
    cursor: pointer;
  }
  .menu li:hover {
    background-color: #f3f2f6;
  }
  .active {
    background-color: #f3f2f6;
  }
  .menu-open {
    display: block;
    opacity: 1;
  }
  .caret-rotate {
    transform: rotate(180deg);
    transition: all 0.2s;
  }
}
