.portfolio-main {
  &__Stitle {
    margin-bottom: 32px;
    text-align: center;
  }
  ul.portfolio-main__list {
    margin-bottom: 24px;
  }
  &__items {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }
  &__links {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link {
    display: inline-block;
  }
}



