.portfolio-main {
  &__title {
    margin-bottom: 32px;
    text-align: center;
  }
  ul.portfolio-main__list {
    margin-bottom: 24px;
  }
  &__items {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
  &__links {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .portfolio-main__items {
    gap: 12px;
  }
  .portfolio-main ul.portfolio-main__list {
    margin-bottom: 10px;
  }
  .portfolio-main__items {
    margin-bottom: 24px;
  }
  .portfolio-main__links {
    margin-bottom: 18px;
    
  }
}
