button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

// style
.btn {
  display: inline-block;
  min-height: 56px;
  @extend %montserrat-600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 16px 40px;
  background-color: $accent;
  border-radius: 44px;
  transition: all 0.2s;
}

.btn:hover {
  background: #8a74ff;
}
@media (max-width: 576px) {
  .btn {
    min-height: 45px;
    padding: 12px 32px;
    font-size: 14px;
    line-height: 21px;
  }
}

.link {
  position: relative;
  display: inline-block;
  padding-right: 30px;
  @extend %montserrat-600;
  font-size: 16px;
  line-height: 24px;
  color: $accent;
  transition: all 0.2s;
  &:hover {
    color: #8a74ff;
    path {
      fill: #8a74ff;
    }
  }
  &--light,
  &--light:hover {
    color: #fff;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 576px) {
  .link {
    font-size: 14px;
    line-height: 21px;
  }
}

.link-more {
  @extend %montserrat-600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  color: $accent;
  transition: all 0.2s;
}
.link-more:hover {
  color: $accent-2;
}

// burger

// burger
.burger {
  position: relative;
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  // z-index: 11;
}
.burger::before,
.burger::after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}

.burger span {
  display: block;
  position: absolute;
  background-color: #000;
  top: 9px;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.3s;
}
.burger--active::before {
  transform: rotate(45deg);
  top: 9px;
}
.burger--active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.burger--active span {
  transform: scale(0);
}

// ontop

.ontop {
  position: fixed;
  right: 42px;
  bottom: 42px;
  z-index: 998;
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray;
    padding: 10px;
    border-radius: 16px;
    transition: all 0.2s;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.2s;
  }
  &__btn-hide {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.2s;
  }
  &__btn:hover {
    background: #acacac;
  }
}

@media (max-width: 576px) {
  .ontop {
    right: 15px;
    bottom: 20px;
  }
  .ontop__btn img {
    width: 24px;
    height: 24px;
  }
  .ontop__btn {
    padding: 8px;
    border-radius: 8px;
  }
}

.sociamedia {
  position: fixed;
  left: 42px;
  bottom: 72px;
  z-index: 998;
  &__head {
    display: flex;
    align-items: center;
  }
  &__btn-open {
    width: 60px;
    position: absolute;
    z-index: 1;
    background: $accent;
    border-radius: 16px;
    padding: 10px;
  }
  &__btn-open.active {
    display: none;
  }
  &__btn-close {
    width: 60px;
    position: absolute;
    z-index: 1;
    display: none;
    padding: 18px;
    background: $accent;
    border-radius: 16px;
  }
  &__btn-close.active {
    display: block;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px 0;
    width: 60px;
    position: absolute;
    max-height: 0px;
    bottom: 8px;
    overflow: hidden;

    transition: all 0.3s;
  }

  ul.sociamedia__list.active {
    max-height: 410px;
    padding-bottom: 44px;
  }
 
}

@media (max-width: 576px) {
  .sociamedia__list {
    left: -8px;
  }
  .sociamedia {
    left: 15px;
    bottom: 40px;
  }
  .sociamedia__list-link img {
    width: 30px;
    height: 30px;
  }
  .sociamedia__btn-open {
    width: 40px;
    padding: 8px;
    border-radius: 8px;
  }
  .sociamedia__btn-close {
    width: 40px;
    padding: 12px;
    border-radius: 8px;
  }
}
