.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  &__prev {
  }
  &__next {
  }
  &__arrows {
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e4ea;
    border-radius: 4px;
    transition: all .2s;
  }
  &__arrows:hover {
    background-color: $accent;
    path {
      fill: #fff;
    }
  }
  .pagination__list {
    margin: 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px;
  }
  &__item {
  }
  &__link {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %montserrat-600;
    font-size: 16px;
    line-height: 24px;
    color: $gray;
    padding: 4px 12px;
    border-radius: 4px;
    transition: all 0.2s;
  }
  &__link:hover {
    background-color: $accent;
    color: #ffffff;
  }
  &__link--active {
    background-color: $accent;
    color: #ffffff;
  }
}
